<div style="width:80%; height: 300px;" class="d-flex justify-content-around">
    <div class="card text-white" style="width:25%; height: 100%;">
        <img class="card-img" style="height:100%;" src="../../static/29512245_710808522585224_8485547141470290090_n.jpg">
        <div class="card-img-overlay d-flex flex-column justify-content-end">
          <a href="Novel">Novel</a>
          <a href="Chapter">Chapter</a>
          <p class="card-text">Last updated 3 mins ago</p>
        </div>
    </div>
    <div class="card text-white" style="width:250px; height: 100%;">
        <img class="card-img" src="../../static/29512245_710808522585224_8485547141470290090_n.jpg">
        <div class="card-img-overlay d-flex flex-column justify-content-end">
          <a href="Novel">Novel</a>
          <a href="Chapter">Chapter</a>
          <p class="card-text">Last updated 3 mins ago</p>
        </div>
    </div>
    <div class="card text-white" style="width:250px; height: 100%;">
        <img class="card-img" src="../../static/29512245_710808522585224_8485547141470290090_n.jpg">
        <div class="card-img-overlay d-flex flex-column justify-content-end">
          <a href="Novel">Novel</a>
          <a href="Chapter">Chapter</a>
          <p class="card-text">Last updated 3 mins ago</p>
        </div>
    </div>
</div>

<div style="width:80%; height: 300px;" class="d-flex justify-content-around">
    <div class="card text-white" style="width:250px; height: 100%;">
        <img class="card-img" src="../../static/29512245_710808522585224_8485547141470290090_n.jpg">
        <div class="card-img-overlay d-flex flex-column justify-content-end">
          <a href="Novel">Novel</a>
          <a href="Chapter">Chapter</a>
          <p class="card-text">Last updated 3 mins ago</p>
        </div>
    </div>
    <div class="card text-white" style="width:250px; height: 100%;">
        <img class="card-img" src="../../static/29512245_710808522585224_8485547141470290090_n.jpg">
        <div class="card-img-overlay d-flex flex-column justify-content-end">
          <a href="Novel">Novel</a>
          <a href="Chapter">Chapter</a>
          <p class="card-text">Last updated 3 mins ago</p>
        </div>
    </div>
    <div class="card text-white" style="width:250px; height: 100%;">
        <img class="card-img" src="../../static/29512245_710808522585224_8485547141470290090_n.jpg">
        <div class="card-img-overlay d-flex flex-column justify-content-end">
          <a href="Novel">Novel</a>
          <a href="Chapter">Chapter</a>
          <p class="card-text">Last updated 3 mins ago</p>
        </div>
    </div>
</div>