<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Administration</title>
    {% include 'metal-data.html' %}
</head>
<body>
    
</table>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
        <a class="navbar-brand font-lobster" href="{{ url_for('homepage') }}">NovelHub</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Option
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="{{ url_for('new_novel') }}">Đăng truyện mới</a>
            <a class="dropdown-item" href="{{ url_for('upload_novel') }}">Đăng chương mới</a>
            </div>
        </div>
    </nav>
    <div class="row justify-content-center">
        <div class="col col-md-9">
            <table border="1px">
                <thead>
                    <th>STT</th>
                    <th>Truyện</th>
                    <th>Chương</th>
                    <th>Nội dung</th>
                    <th>Duyệt</th>
                </thead>
                <tbody>
                    {% for novel in all_novel %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ novel.name }}</td>
                            <td>
                                <a href="#">Sửa</a>
                                <a href="{{ url_for('delete', novel_id=novel.id,user_id=user_id) }}">Xoá</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>    
        </div>
    </div>
    
</body>
</html>