<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chapter</title>
    
</head>
<body>
    <h2>{{ novel.name }}</h2>
    <p>Tác giả: {{ novel.author }}</p>
    <p>Giới thiệu: {{ novel.introduce }}</p>
    <p>Tag:
        {% for tag in novel.tag %}
        {{ tag }}
        {{ "," if not loop.last }}
        {% endfor %}
    </p> 

    {% for chapter in all_chapters %}
        <a href="{{ url_for('content', chapter_id=chapter.id, novel_id=novel.id) }}">{{ chapter.name }}</a>
    {% endfor %}
</body>
</html>