<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chapter</title>
    {% include 'metal-data.html' %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
        <a class="navbar-brand font-lobster" href="{{ url_for('homepage') }}">MangaHub</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link text-light" href=Novel>Novel</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row justify-content-center" style="background-color:rgba(240, 229, 216, 0.938);">
        <div class="col col-md-9">
                {% for chapter in all_chapter %}
                <h4>{{ chapter.name }}</h4>
                {{ chapter.content|safe }}
            {% endfor %}
        </div>      
    </div>
   
</body>
</html>