<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NovelHub</title>
    {% include 'metal-data.html' %}
</head>
<body>
    {% include 'homepage/navigation.html' %} 
    <div class="d-flex flex-wrap" 
    style="background-image: url('https://3.bp.blogspot.com/-q6Wxqnz8muY/WLezq8QKfsI/AAAAAAAAGxs/eSwf_MX1VKcf5kP6nfb9mL1AlfEqgs1eACLcB/s640/nhung-cau-noi-hay-trong-phim-your-name.png');">
        {% include 'homepage/show_novel.html' %}
    </div>
    
</body>
</html>