<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <form method="POST">
        <p><label>Tên truyện:</label>
        <br>
        <input type="text" name="name" value="Tên truyện"></p>
        
        <p><label>Tác giả:</label>
        <br>
        <input type="text" name="author" value="Tác giả"></p>

        <p><label>Giới thiệu:</label>
        <br>
        <input type="text" name="introduce" value="Giới thiệu"></p>

        <p><label>Tag 1:</label>
        <br>
        <input type="text" name="tag1" value="tag 1"></p>

        <p><label>Tag 2:</label>
        <br>
        <input type="text" name="tag2" value="tag 2"></p>

        <p><label>Tag 3:</label>
        <br>
        <input type="text" name="tag3" value="tag 3"></p>
        
        <br>
        <button>Submit</button>
    </form>