<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search Page</title>
    {% include 'metal-data.html' %}
</head>
<body>
    {% include 'navibar/navibar_search.html' %}
    <div class="bg-secondary d-flex justify-content-center align-items-center" style="height:650px;">
        <div>
            <form method="POST">
                <div class="card bg-warning" style="width: 30rem;">
                    <div class="card-body">
                      <label for="exampleFormUsername">Name Novel</label>
                      <input type="text"name="name">
                      <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                  </div>
            </form>  
        </div>
    </div>
</body>
</html>