<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search Page</title>
</head>
<body>
    <div class="card bg-warning" style="width: 30rem;">
        <div class="card-body">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
        
            {% from "result.html" import render_field %}
            <form method=post>
                <dl>
                    {{ render_field(form.select) }}
                    <p>
                    {{ render_field(form.search) }}
                </dl>
                <p><input type=submit value=Search>
            </form>
        </div>
    </div>
</body>
</html>