<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ novel.name }}</title>
    {% include 'metal-data.html' %}
</head>
<body>
    {% include 'user/navigation.html' %}
    <div class="row justify-content-center" style="background-color: rgb(238, 222, 203);margin-right: 0px;">
        <div class="col col-md-9">
            <br>
            <div class="text-center">
                <h2>{{ novel.name }}</h2>    
            </div>
            <br>
            <img src="{{ novel.bg_img }}" style="width:939.5px;">
            <br>
            <div style="font-size: 20px;">
                <p>Tác giả: {{ novel.author }}</p>
                <p>Thể loại:
                    {% for tag in novel.tag %}
                    {{ tag }}
                    {{ "," if not loop.last }}
                    {% endfor %}
                </p>  
                <p>Giới thiệu: {{ novel.introduce }}</p>  
                <a href="{{ url_for('new_chapter', user_id=user_id, novel_id=novel.id) }}">Thêm chương</a> 
            </div>
            <div class="text-center" style="font-size: 30px;">
                <p>Danh Sách chương:</p>
                {% for chapter in all_chapters %}
                <a href="{{ url_for('content_user', user_id=user_id, chapter_id=chapter.id, novel_id=novel.id) }}">{{ chapter.name }}</a>
                <br>
                {% endfor %} 
            </div>  
        </div>    
    </div> 
</body>
</html>